{% extends 'jobs/base.html' %}

{% block title %}My Job Postings{% endblock %}

{% block content %}
    <h1>My Job Postings</h1>

    <ul class="posting-list">
        {% for job in jobs %}
            <li>
                <h3>{{ job.title }}</h3>
                <p>{{ job.company }} - {{ job.location }}</p>
                <a href="{% url 'edit_job' job.pk %}">Edit</a> |
                <a href="{% url 'delete_job' job.pk %}">Delete</a> |
                <a href="{% url 'manage_applications' job.pk %}">Manage Applications</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
